<!-- views/authors/delete.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Delete Author</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Delete Author</h1>
  <p>Are you sure you want to delete the author: <%= author.fullname %>?</p>
  <form action="/authors/delete/<%= author.id %>" method="post">
    <button type="submit">Delete</button>
    <a href="/authors">Cancel</a>
  </form>
</body>
</html>
