<!DOCTYPE html>
<html>
<head>
  <title>Create Genre</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Create Genre</h1>
  <form action="/genres/create" method="post">
    <div>
      <label for="name">Name Genre</label>
      <input id="name" type="text" name="name" required>
    </div>
    <div>
      <button type="submit">Create Genre</button>
    </div>
  </form>
</body>
</html>
