<!DOCTYPE html>
<html>
<head>
  <title>Delete Genre</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Delete Genre</h1>
  <p>Are you sure you want to delete the genre: <%= genre.name %>?</p>
  <form action="/genres/delete/<%= genre.id %>" method="post">
    <button type="submit">Delete</button>
    <a href="/genres">Cancel</a>
  </form>
</body>
</html>
