<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4"><%= genre.name %></h1>
        <div class="mt-4">
            <a href="/genres/update/<%= genre.id %>" class="btn btn-primary">Edit</a>
            <a href="/genres/delete/<%= genre.id %>" class="btn btn-danger">Delete</a>
            <a href="/genres" class="btn btn-success">Genre List</a>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
