doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Music Streaming
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/layout_admin.css")
    script(src="/scripts/layout_admin.js")
    //- script(src="/scripts/layout_playlist.js")

  body
    nav.navbar.navbar-dark
      a.navbar-brand(href="#") Music Streaming
      button.btn.btn-login(type="button") Login

    .main-content
      .sidebar
        ul.nav.flex-column
          li.nav-item.active
            a.nav-link(href="/" data-page="home") Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="/authors" data-page="authors") Authors
          li.nav-item
            a.nav-link(href="/genres" data-page="genres") Genres
          li.nav-item
            a.nav-link(href="/musics" data-page="musics") Songs
          li.nav-item
            a.nav-link(href="/playlists" data-page="playlists") Playlists
          li.nav-item
            a.nav-link(href="#" data-page="library") Library
          li.nav-item
            #{t('sidebar.vietnamese')}

      .content
        block content 
        
    footer.audio-player
      audio#main-audio-player(controls)
        | Your browser does not support the audio element.
      .controls
        button#prev-btn(type="button") &lt;&lt;
        button#play-pause-btn(type="button") Play
        button#next-btn(type="button") &gt;&gt;
        .time
          span#current-time 00:00
          span#duration / 00:00
        input#progress(type="range" min="0" value="0")
        input#volume(type="range" min="0" max="1" step="0.01" value="1")

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
